<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New User</h1>
    <form action="/users" method="POST">
        <input type="text" name="name", placeholder="Enter Name">
        <input type="email" name="email", placeholder="Enter Email">
        <input type="number" name="age", placeholder="Enter Age">
        <textarea name="bio" placeholder="Enter your Bio" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="Add User">
    </form>
</body>
</html>